.container{
    max-width: 1000px;
}
a.custom-card,
a.custom-card:hover {
    color: inherit;
}
.ui-autocomplete{
    z-index: 9999 !important;
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
#flagstrap ul{
    padding-left: 10px;
    cursor:pointer;
}
#flagstrap ul li{
    cursor:pointer;
}
.flags{
    margin: 12px;
}